<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <img [src]="'/img/manga-logo.webp'" width="120" height="50" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/">Catalogo</a>
          </li>
         
        </ul>
       <a class="nav-link text-white" routerLink="/carrito">
       <i class="fa fa-shopping-cart"></i>(<span class="fw-bold">{{carritoService.cantidad()}}</span>)
      </a>
      </div>
    </div>
  </nav>
